/* custom.css */

a.relation-link {
}

h5.toplinks-title {
  margin-block-start: 1.3em;
}

ul.toplinks-menu {
  margin-block-start: 0;
}

ul.this-page-menu {
  margin-block-start: 0;
}

.del {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}
